{% extends 'polls/base.html' %}

{% block content %}
<!--    <title>CLINGen</title>
    {% load staticfiles %}
    <img src="{% static "images/logo_genomika.png" %}" alt="logo_genomika"/>-->
  
<form method="post" enctype="multipart/form-data"> 
{% csrf_token %} 

    <h1>Anotação de Variantes</h1>         

    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
    <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
    </p>

    <button type="submit">Enviar para análise</button>
</form>

{% endblock %}