 <!DOCTYPE html>
 <html>
 <head>
    <title>CLINGen</title>
    {% load staticfiles %}
    <img src="{% static "images/logo_genomika.png" %}" alt="logo_genomika"/>
 </head>
 <body>
    <h1>Variant Annotation</h1>    
    <form method="post" enctype="multipart/form-data"> 
    {% csrf_token %}        

        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <button type="submit">Send for analyse</button>
     </form>
 </body>
 </html>